html,body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    
}

body {
    background-color: #777373;
}

.top-header {
     
    background-color: black;
    color: white;

    text-align: center;
    
}

.top-header > li {
    display: inline-block;
    padding: 5px 150px;

    
    font-size: 12px;
    
}

.header {
    max-width: 100%;
    min-width: 320px;
    margin: auto;
    padding: 30px 30px 10px;
    overflow: hidden;
    position: sticky;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    

}



.top-bar {
    
    max-width: 100%;
    min-width: 480px;
    margin: auto;
    padding: 30px 30px 10px;
    overflow: hidden;
    position: sticky;
    background-color: white;
    color: black;
    
    
    
    
    
}

.top-bar--logo {
    width: 5%;
    margin-left: 50px;
    
    
    
    
    
}

.top-bar--list {
    position: absolute;
    top: 30%;
    right: 5%;
    min-width: 460px;
   
    
        
    
    

}

.top-bar--list > li {
    display: inline-block;
    list-style:none;
    padding-left: 25px;
    right: 50%;
    
    
    
    
    
}





li > a  {
    padding: 5px;
    border-radius: 10%;

    font-size: 20px;
    
    right: 50%;
    color: black;
    text-decoration: none;
}

li > a:hover {
    background-color: #6d6d6d;;
    
}

.container {
    
    max-width: 800px;
    margin: auto;
    
    

}
    

#main-titulo {
    
    padding: 10px 0;
    margin-top: 50px;
    border-top: 1px solid rgb(0, 0, 0);
    
    font-size: 16px;
    text-align: center;

    background-color: black;
    color: white;
    
    
}


.main-img {
   width: 100%;
       
}

#section-titulo {
    

    margin: -5px 0 50px 0;
    padding: 40px 0 30px;

    font-size: 20px;
    text-align: center;

    background-color: black;
    color: white;
    

}

.section-cartao {
    width: 100%;
    background-color: white;
    margin: auto;
    position: relative;
    margin-bottom: 100px;
    border-radius: 5%;
}

.section-cartao:hover {
    box-shadow: 1px 0px 5px 5px #ccc;
}



.img, .img1 {
    
    width: 150px;
    
    margin: auto;
    padding-left: 33px;
    
}

.img:hover, .img1:hover {
    position: relative;
    cursor: pointer;
    padding-bottom:10px;
    
}

footer > div {
    padding-top: 20px;
    width: 100%;
    height: 100px;
    
    background-color: black;
    color: white;

    text-align: center;
}

.footer-email {
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    
    color: white;
    text-decoration: none;

}

.footer-email:hover {
    background-color: rgb(115, 108, 99);
}


.creditos {
    opacity: 40%;
}

.creditos-name {
    text-decoration: none;
    color: white;
}




