html,body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    
}

body {
    background-color: #777373;
}

.top-header {
     
    background-color: antiquewhite;
    color: black;

    text-align: center;
    
}

.top-header > li {
    display: inline-block;
    padding: 5px 150px;

    
    font-size: 12px;
    
}

.header {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    overflow: hidden;
    position: sticky;
    background-color: black;
    color: white;

}



.top-bar {
    float: left;
    
    
    
    
    
}

.top-bar--list {
    position: absolute;
    
   text-align: center;
    top: 35%;
    right: 0;
    
    

}

.top-bar--list > li {
    float: left;
    list-style:none;
    padding-right: 10px;
    
    
    
    
    
}



li > a  {
    padding: 5px;
    border-radius: 10%;
    
    
    color: white;
    text-decoration: none;
}

li > a:hover {
    background-color: #6d6d6d;;
    
}

.container {
    
    max-width: 800px;
    margin: auto;
    

}
    

#main-titulo {
    
    padding: 10px 0;
    
    font-size: 16px;
    text-align: center;

    background-color: white;
    
    
}


.main-img {
   width: 100%;
       
}

#section-titulo {
    margin-top: -8px;
    padding: 50px 0 30px;

    font-size: 20px;
    text-align: center;

    background-color: black;
    color: white;

}

.section-cartao {
    width: 100%;
    background-color: antiquewhite;
    margin: auto;
    position: relative;
}

.section-cartao:hover {
    box-shadow: 5px 10px 10px 10px #ccc;
}



.img, .img1 {
    
    width: 200px;
    
    margin: auto;
    padding-left: 40px;
    background-position-x: -50%;
}

.img:hover, .img1:hover {
    
    cursor: pointer;
    padding-bottom:10px;
    
}






